*, *:before, *:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    height: 100%; /* Make sure the html and body take the full height of the viewport */
    margin: 0;    /* Remove any default margin */
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1px;
    padding: 0 20px;
  }
  #form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:500px;
    height:600px;
    font-size:80%;
    border:20px solid red;
}

#result-page{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:4%;
}

#result-page h2{
    width:60%;
    text-align:center;
}

#nameInp{
    width:180px;
    height:35px;
    font-size:15px
}

#birthYearInp{
    width:180px;
    height:35px;
    font-size:15px
}

#nameAndBirthInps{
    height:10%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.form-group{
    width:100%;
}

.form-checkbox{
    /*
    position:relative;
    left:40px;
    */
    
    display:grid;
    grid-template-columns: repeat(3, 140px);
    gap:1px;
    justify-content:center;
    width:100%;
}

.checkbox-item{
    border:1px solid red;
}

.checkbox-item input{
    position:relative;
}

input[value="Submit"]{
    font-weight:bold;
    margin-top:5px;
}

#submitBtn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:15%;
}

#formDescription{
    margin-top:20px;
    margin-left:50px;
    margin-right:50px;
}

#formData p{
    margin-top:20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.checkbox-item{
}

fieldset legend{
    display:flex;
    justify-content:center;
    margin-top:10px;
    margin-bottom:20px;
}










@media screen and (max-width: 768px) {
    /* Styles for tablets and smaller devices */
    body {
        font-size: 1px;
        padding: 0 20px;
      }
      #form {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:500px;
        font-size:80%;
    }

    .form-group{
        width:100%;
    }

    .form-checkbox{
        /*
        position:relative;
        left:40px;
        */
        
        display:grid;
        grid-template-columns: repeat(3, 7rem);
        gap:9px;
        justify-content:center;
        width:100%;
    }

    .checkbox-item{
    }

    .form-group{
        margin:1px;
    }

    #nameInp{
        width:180px;
        height:35px;
        font-size:15px
    }

    #birthYearInp{
        width:180px;
        height:35px;
        font-size:15px
    }

    #nameAndBirthInps{
        height:10%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }

    #submitBtn{
        display:flex;
        justify-content:center;
        align-items:center;
        height:15%;
    }


  }












  
  @media screen and (max-width: 480px) {
    /* Styles for tablets and smaller devices */
    body {
        font-size: 1px;
        padding: 0 20px;
      }
      #form {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:500px;
        font-size:80%;
    }

    .form-group{
        width:100%;
    }

    .form-checkbox{
        /*
        position:relative;
        left:40px;
        */
        
        display:grid;
        grid-template-columns: repeat(3, 7rem);
        gap:9px;
        justify-content:center;
        width:100%;
    }

    .checkbox-item{
    }

    .form-group{
        margin:1px;
    }

    #nameInp{
        width:180px;
        height:35px;
        font-size:15px
    }

    #birthYearInp{
        width:180px;
        height:35px;
        font-size:15px
    }

    #nameAndBirthInps{
        height:10%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }

    #submitBtn{
        display:flex;
        justify-content:center;
        align-items:center;
        height:15%;
    }

    

  }













