*, *:before, *:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    height: 100%; /* Make sure the html and body take the full height of the viewport */
    margin: 0;    /* Remove any default margin */
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

#form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:85%;
    width:30%;
    font-size:13px;
}

#result-page{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:4%;
}

#result-page h2{
    width:60%;
    text-align:center;
}

#nameInp{
    width:100%;
}

#birthYearInp{
    width:100%;
}

.form-group{
    display:inline-block;
    margin:7px;
}

input[value="Submit"]{
    font-weight:bold;
    margin-top:5px;
}

#formDescription{
    margin-top:20px;
    margin-left:50px;
    margin-right:50px;
}

#formData p{
    margin-top:20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-checkbox{
    position:relative;
    left:40px;
    display:grid;
    grid-template-columns: repeat(3, 150px);
    justify-content:center;
}

fieldset legend{
    display:flex;
    justify-content:center;
    margin-top:10px;
    margin-bottom:20px;
}













